<?xml version="1.0"?>
<config>
    <tabs>
        <lanot translate="label">
            <label>Lanot Extensions</label>
            <sort_order>200</sort_order>
        </lanot>
    </tabs>
    <sections>
        <lanot_attachments>
            <class>separator-top</class>
            <label>Attachments</label>
            <tab>lanot</tab>
            <frontend_type>text</frontend_type>
            <sort_order>500</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>

                <!-- Catalog Product View Page-->
                <catalog_product translate="label">
                    <label>Catalog Product View</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>10</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <enabled translate="label">
                            <label>Enabled</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </enabled>
                        <title translate="label comment">
                            <label>Title</label>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </title>
                        <class translate="label comment">
                            <label>Block Css Class</label>
                            <sort_order>30</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </class>
                        <class_title translate="label comment">
                            <label>Title Css Class</label>
                            <sort_order>40</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </class_title>
                        <class_content translate="label comment">
                            <label>List Css Class</label>
                            <sort_order>50</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </class_content>
                    </fields>
                </catalog_product>
                <!--/Catalog Product View Page-->

                <!-- Additional Settings -->
                <view translate="label">
                    <label>Additional Settings</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>100</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <new_window translate="label">
                            <label>Open attachment download link in new window</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>210</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </new_window>
                        <show_icons translate="label">
                            <label>Show icons</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>220</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </show_icons>
                        <url_filename>
                            <label>Show base filename for FILE attachments</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>230</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </url_filename>
                        <url_redirect translate="label comment">
                            <label>Use Redirect For URL attachments</label>
                            <comment>The direct file url shows in a browser's address field. This options allows you to
                                put into attachment's URL field any source url you want, even usual landing page.
                            </comment>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>240</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </url_redirect>
                    </fields>
                </view>
                <!--/Additional Settings -->
            </groups>
        </lanot_attachments>
    </sections>
</config>
